#container{
    height:1000px;
    width: 2000px;
}

body {
    background-image: url(DISNEY.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: disney;
}


@keyframes spicy_dwight {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }


}

#animation1 {
    animation-name: spicy_dwight;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    position: fixed;
    bottom: 0px;
    right: 1000px;



}

@keyframes michael {
    0% {
        right: 300px;
        bottom: 0px;
        opacity: 0;
    }
    15%{
        opacity: 0;
    }
    100% {
        right: 500px;
        bottom: 0px;
    }
}


@keyframes rotateRight {
    100% {
        transform: rotate(180deg);
    }

}


#animation2 {
    top: -500px;
    left: 1000px;
    right: 100px;
    bottom: 0px;
    height: 500px;
    animation-name: rotateRight, michael;
    animation-duration: 6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;



}


#animation3 {
    animation-name: logo;
    animation-duration: 2s;
    position: absolute;
    right: 700px;
    bottom: 0px; filter: invert(100%);
    animation-iteration-count: infinite;
    transition: transform .5s, background .5s;
}

@keyframes logo {
    0% {
        bottom: 0px;
        right: 700px;
    }
    50% {
        bottom: 50px;
        right: 700px;

    }
    100% {
        bottom: 0px;
        right: 700px;
    }
}
#animation3:hover{
    transform: scale(2);
}

#animation5{
    top:50px;
    right: 900px;

    position: absolute;
    animation-duration: 5s;
}



#animation4{
    top: 440px;
    right: 350px;
    position: absolute;
    animation-duration: 5s;
}

#animation6{
    position: absolute;
    right: 885px;
    top: 65px;
}
#animation6:active{
    transform: scale(50);
}

#ring{
    top: 0px;
    position: absolute;
    transition: transform .2s, background .5s, left .5s ease-in-out, top .5s ease-in-out;
}

